.main-bg {
  height: 300px;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
}

/* 1. 애니메이션 동작 전 className 만들기 */
.start {
  opacity: 0;
}
/* 2. 애니메이션 동작 후 className 만들기 */
.end {
  opacity: 1;
  /* 3. transition 추가 */
  transition: opacity 0.5s;
}
